# override values for your local development setup if necessary.
# Remember that .env should never be committed!
APP_PORT=80
APP_DB_HOST=localhost
APP_DB_USER=<YOUR DB USER>
APP_DB_PASS=<YOUR DB PASS>
APP_DB_NAME=<YOUR DB NAME>
APP_TEST_DB_HOST=<YOUR TEST DB HOST>
APP_JWT_SECRET=<YOUR JWT SECRET>
APP_JWT_EXPIRESIN=86400