.table {
  color: $body-color;
  background-color: $white;
  border-color: $gray-300;
  line-height: 23px;

  .loading-spinner,
  .no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $gray-700;
    font-size: 14px;
  }

  &.loading {
    min-height: 100px;
    position: relative;
    .loading-spinner {
      padding-top: 60px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      .spinner {
        opacity: 0.65;
      }
    }
  }

  > :not(caption) > * > * {
    padding: 0.7rem;
    border: 0;
  }

  > :not(:first-child) {
    border: 0;
  }

  th {
    font-weight: 400;
    color: $gray-700;
    padding: 1.2rem 0.7rem;
  }

  th,
  td {
    vertical-align: middle;
  }

  .checkbox-wrapper {
    width: 18px;
    padding: 0;
    padding-left: 30px;
  }

  tbody {
    td {
      border-top: 1px solid $gray-300;
    }
  }

  .table-btn {
    display: inline-flex;
    .btn:not(:last-child) {
      margin-right: 10px;
    }
  }

  .row-clickable {
    cursor: pointer;
  }
}

@include media-breakpoint-down(xs) {
  .table-responsive {
    table {
      min-width: 800px;
    }
  }
}
